- range = images_count(folder)

.carousel
  - range.each_with_index do |_, index|
    %input.carousel-locator{ name: 'carousel-radio',
                             id: "slide-#{index}",
                             type: 'radio',
                             checked: index.zero? ? true : false,
                             hidden: true }
  .carousel-container
    - range.each_with_index do |_, index|
      %figure.carousel-item
        = image_tag image_carousel(folder, index), class: 'img-responsive'
    .carousel-nav
      - range.each_with_index do |_, index|
        %label.nav-item.text-hide.c-hand{ for: "slide-#{index}" }
          = index
