.columns#dl
  .column.min-height.col-md-12.flex-centered
    = link_to I18n.t('index.download.play-store.link'), class: 'btn-primary btn btn-lg', id: 'dl-play-store' do
      = image_tag 'play-store-download.png', class: 'icon', height: 18, width: 60
      = I18n.t('index.download.play-store.text')
  .divider-vert.hide-md{ 'data-content': 'or' }
  .column.min-height.col-md-12.flex-centered
    = link_to I18n.t('index.download.fdroid.link'), class: 'btn-primary btn btn-lg', id: 'dl-fdroid' do
      = image_tag 'f-droid-download.png', class: 'icon', height: 18, width: 60
      = I18n.t('index.download.fdroid.text')
