%header.navbar
  %section.navbar-section
    .btn
      = link_to root_path do
        = image_tag 'favicon.png', class: 'icon', size: 20
        = I18n.t('app.title')
-#
  %section.navbar-section
    %h2= title
    = link_to users_registrations_new_path, class: 'btn btn-success' do
      %i.icon.icon-people
      = t('app.signup')
