#index
  .columns
    .column.col-md-12.flex-centered
      %h1
        = I18n.t('app.title')

  .columns
    .column.col-md-12.flex-centered
      #index-carousel
        - locals = { folder: 'index' }
        = render partial: 'shared/carousel', locals: locals
    .column.col-md-12.flex-centered
      .timeline
        %h2 Timeline
        = timeline('_2022', 'january', last: true)
        = timeline('_2017', 'december')

  .divider

  .columns
    .column.col-md-12.flex-centered
      %h1
        = I18n.t('index.title')

  .columns
    .column.col-md-12.flex-centered
      %p
        = I18n.t('index.describ')

  = render partial: 'shared/download'
