%h1
  Politique de confidentialité

%p
  OpenBD est une application open source disponible sur iOS et Android. Ce
  service vous est fourni gratuitement par Jeremy Vaillant et est destiné à
  être utilisé tel quel.

%p
  Le but de cette page est d’informer les utilisateurs sur notre politique e
  n matière de collecte, d’utilisation et de divulgation d’informations
  personnelles lorsque quelqu’un utilise le service.

%p
  Si vous choisissez d’utiliser OpenBD, vous acceptez la collecte et
  l’utilisation d’informations dans le cadre de cette politique. Les
  informations personnelles collectées sont utilisées pour fournir et améliorer
  le service. Ces informations ne seront ni utilisées, ni partagées avec qui que
  ce soit, sauf dans les cas décrits dans la présente politique de
  confidentialité.

%h2
  Journaux d’accès (logs)

%p
  Afin de nous assurer du bon fonctionnement de OpenBD, nous collectons les
  données suivantes lors de l’utilisation du service :
  %ul
    %li
      l’adresse IP de l’appareil
    %li
      l’heure et la date de l’utilisation

%p
  Ces informations ne sont pas utilisées à des fins commerciales et ne sont
  pas conservées plus de quatre semaines.

%h1
  Collecte et utilisation d’informations

%p
  Mis à part les informations enregistrées dans les journeaux d’accès
  mentionnées plus haut, OpenBD ne collecte pas d’informations personnelles
  sur ses serveurs.

%h1
  Tierces parties

%p
  OpenBD ne partage pas d’informations personnelles avec des tierces parties.
  Nous utilisons les données des services suivants afin de fournir notre service :
  %ul
    %li
      l’API api.bnf.fr pour la recherche d'oeuvre ;

%p
  Ces sources de données sont contactées à chaque fois que vous utilisez OpenBD.
  Cependant, ces requêtes sont effectuées depuis nos serveurs, anonymisant
  ainsi la personne à l’origine de la demande.

%h1
  Sécurité

%p
  Nous apprécions la confiance que vous portez lors de l’utilisation de
  OpenBD ; nous nous efforçons donc d’utiliser des moyens de protection
  convenables. Mais rappelez-vous qu’aucune méthode de transmission sur
  Internet ou de stockage électronique n’est sécurisée et fiable à 100%, et
  nous ne pouvons en garantir la sécurité absolue.

%h1
  Liens vers des sites externes

%p
  Ce service peut contenir des liens vers d’autres sites web. Notez que ces
  sites externes ne sont pas exploités par OpenBD : par conséquent, il est
  conseillé d’également consulter leur politique de confidentialité. Nous
  n’avons aucun contrôle sur le contenu, les politiques de confidentialité et
  les pratiques de tout site ou service tiers, et n’assume aucune
  responsabilité à leur égard.

%h1
  Hébergement

%p
  OpenBD est hébergé sur les serveurs Contabo à Munich.

%h1
  Mises à jour de la politique de confidentialité

%p
  Cette politique de confidentialité peut être mise à jour de temps à autre. Les
  modifications sont publiées sur cette page et entrent en vigueur immédiatement
  après leur publication.

%h1
  Contact

%p
  En cas de questions ou de suggestions à propos de la politique
  de confidentialité, n’hésitez pas à nous contacter.
