.columns
  .column.col-12
    %ul
      %li= link_to t('sitemap.index'), root_path
      -#%li= link_to t('sitemap.about'), about_path
      %li= link_to t('sitemap.sitemap'), sitemap_path
      %li= link_to t('sitemap.cgu'), cgu_path
      -#%li= link_to t('sitemap.contact'), contact_path
      %li= link_to t('sitemap.privacy'), privacy_path
