// Load al specres elements
@import "spectre";
@import "spectre/spectre-exp";
@import "spectre/spectre-icons";

// Override rules
header {
  background-color: $primary-color;
  padding: 10px;
  h2 {
    color: white;
    margin: 0;
    margin-right: 10px;
  }
}

@media screen and (max-width: 840px) {
  .min-height {
    margin: 10px;
  }
}

@media screen and (min-width: 840px) {
  .min-height {
    min-height: 100px;
  }
}

.min-height button a {
  color: white;
  vertical-align: middle;
}

#dl {
  img.icon {
    width: 60px;
    height: 18px;
  }

  #dl-fdroid {
    background-color: gray;
  }
}

#index-carousel {
  background-image: image-url('smartphone.jpeg');
  padding-top: 32px;
  padding-left: 9px;
  min-width: 218px;
  max-width: 218px;
  min-height: 430px;
  max-height: 430px;

  div, figure {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
  }

  .carousel, .carousel-container {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 200px;
    min-height: 356px;
    max-height: 356px;
  }
}

footer {
  .menu {
    box-shadow: none;
    border-radius: none;
  }

  #liberapay {
    background-color: #f6c915;
    border-radius: 5px;
  }
}

.form-devise {
  padding-top: 32px;
  padding-bottom: 32px;
}

#index {
  .column {
    margin-bottom: 50px;
  }
}

h1, h2 {
  text-align: center;
}
