!!!
%html{ lang: I18n.default_locale }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'ie=edge', 'http-equiv': 'x-ua-compatible' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    %title
      = t('app.title')
    = favicon_link_tag 'favicon.png'
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    = render 'shared/top'
    .container
      = yield
  = render partial: 'shared/footer'
